@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.6rem;

    @include respond-to(desktop) {
        max-width: $desktop-breakpoint;
        padding: 0;
    }
}
