<div class="list-container">
    @if(allPayments.length > 0) {
        <div class="tag-group">
            @for (category of categories; track category.id) {
                <app-category-tag 
                    [category]="category"
                    [selected]="selectedCategory === category"
                    (categorySelect)="onSelectCategory($event)"
                ></app-category-tag>
            }
        </div>
        <div class="list-cards">
            @for (payment of filteredPayments; track payment.id) {
                <app-card [paymentData]="payment"></app-card>
            }
        </div>
    } @else {
        <div class="title-group">
            <h1 class="title">Registrar novo pagamento</h1>
            <p class="description">Clique no botão abaixo para criar:</p>
        </div>
        <div class="list-cards">
            @for (color of colorsEmptyList; track color.id) {
                <app-card-skeleton [color]="color.name"></app-card-skeleton>
            }
        </div>
    }
    <app-button variant="icon" icon="add" (click)="goToCreate()"></app-button>
</div>
