@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.create-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;

    .title-group {
        margin: 5.2rem 0;
        display: flex;
        align-items: center;
        gap: 3.2rem;
        
        .icon-back {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            color: $neutral-primary;

            &:hover {
                background-color: $neutral-white;
                border-radius: 50%;
            }
        }

        .title {
            font-size: $font-size-lg;
            color: $neutral-primary;
            font-weight: 500;
            text-align: center;
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        .input-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .label {
                font-size: $font-size-base;
                font-weight: 500;
                color: $neutral-primary;
            }

            input[type="text"],
            input[type="number"] {
                width: 100%;
                border-radius: 0.6rem;
                background-color: $neutral-background;
                border: 0.1rem solid $neutral-line;
                padding: 1.6rem;
                color: $neutral-ghost;
                overflow-wrap: break-word;
                white-space: pre-wrap;
            
                &:focus {
                    border: 0.1rem solid $neutral-ghost;
                    outline: none;
                }
            }

            .input-group {
                display: flex;
                flex-wrap: wrap;
                gap: 0.8rem;
            }

            .category-group {
                flex-wrap: wrap;
            }

            .payment-method-group {
                flex-direction: column;
            }

            .input-radio-group {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                cursor: pointer;

                input {
                    appearance: none;
                    width: 1.6rem;
                    height: 1.6rem;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '';
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: 50%;
                        border: 0.1rem solid $neutral-ghost;
                        background-color: transparent;
                        position: absolute;
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover::after {
                        border: 0.1rem solid $neutral-secondary;
                    }

                    &:checked::after {
                        background-color: $primary;
                        border: none;
                    }
                }

                span {
                    font-size: $font-size-sm;
                    color: $neutral-primary;
                    font-weight: 400;
                }
            }
        }
    }

    @include respond-to(desktop) {
        max-width: calc($desktop-part-grid * 8 + $desktop-gap-grid * 7);
    }
}