<div class="card-skeleton-container">
    <div class="tag-color" [class]="color"></div>
    <div class="card-block">
        <div class="card-header">
            <div class="circle"></div>
            <div class="skeleton-group">
                <div class="skeleton-data"></div>
                <div class="skeleton-data"></div>
            </div>
        </div>
        <div class="divisor"></div>
        <div class="card-footer">
            <span class="material-symbols-outlined icon-skeleton">credit_card</span>
            <div class="skeleton-data"></div>
        </div>
    </div>
</div>
